<div class = 'spacer'></div>

<div class='row'>
    
    <div class='col-md-6' id = "info">
        <img src="img/square.jpg" class = 'img-circle img-responsive' id ='about-image'></img>
    </div>
    
    <div class='col-md-6' >
        <h2>Mr. Snow</h2>
        <p>
              I am an educator and life-long learner. I am currently working on learning how to code. 
          While I have been teaching high school engineering for 10 years now, most of my work has 
          been in a traditional materials lab. I do have a few years experience in teaching Vex Robotics 
          Programming at the High School Level. Recently my interest has turned to coding. I am working 
          with my students using freeCodeCamps and we are all learning togather. This page serves as a 
          learning and teaching tool for myself and my students. I hope to continue this journey outside 
          of the classroom and to keep expanding my horizons.
    </p>
    </div>
</div>

<div class = 'spacer'></div>

<div class='row'>
    <div class='col-md-2 col-md-offset-3'>
       <a href="https://www.youtube.com/user/SnowmanSpeaks" class="btn btn-danger ">
           <i class="fa fa-youtube fa-5x"></i></a>
       </a>
    </div>
     <div class='col-md-2'>
          <a href="https://twitter.com/00MrSnow00" class="btn btn-info " aria-hidden="true">
          <i class="fa fa-twitter fa-5x"></i></a>
     </div>
     <div class='col-md-2'>
         <a href="https://github.com/MrSnowNB" class="btn btn-default background-color:black">
             <i class="fa fa-github-alt fa-5x"></i></a>
         </a>
     </div>
</div>
    